name: Playwright Tests
on:
  push:
    branches: [main, master, dev, enable-coveralls]
  pull_request:
    branches: [main, master]
jobs:
  yarn_lint_build_test_coverage:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18.x'
      - name: Install dependencies
        run: yarn
      - name: Run ESLint
        run: yarn run lint
      - name: tsc
        uses: icrawl/action-tsc@v1
        with:
          project: ./tsconfig.json
      - name: Run Playwright tests
        run: yarn run pw
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
