name: Node.js Package and Publish

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - name: install node v18.18.2
        uses: actions/setup-node@v1
        with:
          node-version: 18.18.2
      - name: yarn install
        run: yarn install
      - name: build
        run: npm run build
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.npm_token }}    
